<!doctype html>
<html lang="en">
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <title>Ne parkiraj tu</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
  .custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }
  <!--.item {
      width: 25%;
  }
  .item.w2{
      width : 25%;
  }-->

  </style>
<!--Facebook share js -->
<script>
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<!--LoadMore, AjaxUpload and ComboBox-->
<script src="{% static "photos_app/js/LoadMore.js" %}"> </script>
<script src="{% static "photos_app/js/AjaxUpload.js" %}"></script>
<script src="{% static "photos_app/js/ComboBox.js" %}"></script>
</head>
<body>

<div class="ui-widget">
  <form id = "form" action="{% url 'photos:index' %}" method="post" enctype="multipart/form-data">
	    {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
  </form>

</div>
<ul class = "items">
{% for post in posts %}
    <li class="item"><img  src="{{ post.medium_photo.url }}"/><br> <br>

    <div class="fb-share-button" data-href="{{ post.medium_photo.url}}" data-type="button_count"></div><br>
    </li>
{% endfor %}
</ul>
</body>
</html>